project_name           = "vehicle-platform"
aws_region             = "us-east-1"
localstack_endpoint    = "http://localhost:4566"
aws_endpoint_override  = "http://localhost.localstack.cloud:4566"
lambda_artifact_path   = "../hackaton-projeto-5/target/function.jar"
lambda_timeout_seconds = 30
lambda_memory_mb       = 512
log_retention_days     = 14
